
body {
  background: #fff;
  margin: 0;
  padding: 0;

}

#bar1{
  top:0;  
  
  background: black;
  width: 100%;  
}
#logo{
background:#5F9F9F;
height:10%;
 width:10%;
 float: left;
 left:0;
}
#ul1{
top:80%;
float: right;
height:10%;
right : 0%;
margin: 0;
padding: 0;
}

#azul{
height:90%;
width:100%;
background: #5F9F9F;

vertical-align:middle;
}

#azul-centro{
background-color: transparent;
color: white;
height:40%;
width:40%;
top: 40%;
left: 30%;
float:center;
position:absolute;
}

#bot{
background-color: Transparent;
/*height:20%;
width:20%;
top: 50%;
left: 40%;
float:center;
vertical-align:middle;
    position:absolute;*/
}

#branco1{
height:100%;
width:95%;
background: white;
margin-left:5%
}
.branco1{
height:45%;
width:20%;

background-color:black;
margin-left:0%;
margin-right:5%;
}

#branco1a{
top:0%;

float:left;
}
#branco1b{
top:0%;
float:left;

}

#branco1c{
top:0%;
float:left;

}
#branco1d{
top:0%;
float:left;

}

#azul2{
height:30%;
width:100%;
background: blue;
}
.azul-2{
top:40%;
height:15%;
width:10%;
float:left;
background-color:black;
color: white;
margin-left:0%;
margin-right:5%;
position:relative;

}



.dropdown1{
top:50%
float:left;
margin-left:5%;
margin-right:5%;
}

#azulclaro{
height:100%;
width:100%;
background: #5F9F9F;
}

#tabel1{

height:85%;
width:90%;
float:left;
background-color:transparent;
margin-left:5%;
margin-right:0%;
position:relative:
}

.azulclaro-1{
top:10%;
height:25%;
width:27%;
float:left;
background-color:blue;
margin-left:3%;
margin-right:0%;
position:relative:
}
.azulclaro-2{
top:40%;
height:25%;
width:27%;
float:left;
background-color:red;
margin-left:3%;
margin-right:0%;
position:relative:
}
.azulclaro-3{
top:40%;
height:25%;
width:27%;
float:left;
background-color:green;
margin-left:3%;
margin-right:0%;
position:relative:
}



#barrapreta{
height:10%;
width:100%;
background: black;
}